<h1>Them giang vien</h1>

<form action="/add" method="POST">
    hoTen: <input type="text" name="hoTen"> <br>
    diaChi: <input type="text" name="diaChi"> <br>
    SDT: <input type="number" name="SDT"> <br>
    maGiangVien: <input type="text" name="maGiangVien"> <br>
    <button type="submit">Them giang vien</button>
</form>
